.background
{
    background-image: url("../img/background-1.png");
    background-size: cover;
}
.head-iframe
{
    height: 50px;
    width: 100%;
    margin: 0;
}
.index-title
{
    color: white;
}
.index-img
{
    height: calc(50vh);
}
.button-group
{
    margin-top: 10px;
}
a
{
    text-decoration: none;
}
.head-logo
{
    float: left;
    height: 50px;
}
@media (min-width:0px) and (max-width:1000px) {
    .dropend-button
    {
        width: calc(80vw - 50px);
        margin-right: 0px;
        margin-bottom: 10px;
        font-size: calc(1rem + 1.5vw);
        text-align: left;
    }
    .dropend-button-end
    {
        width: 50px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .button-group-button
    {
        width: calc(80vw);
        display: block;
        font-size: calc(1rem + 1.5vw);
        text-align: left;
    }
}
@media (min-width:1000px)
{
    .dropend-button
    {
        width: 275px;
        margin-right: 0px;
        margin-bottom: 10px;
        text-align: left;
    }
    .dropend-button-end
    {
        width: 25px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .button-group-button
    {
        width: 300px;
        display: block;
        text-align: left;
    }
    .image-div
    {
        display: inline;
    }
    .button-group
    {
        display: inline-block;
        vertical-align: top;
    }
    .table-ready
    {
        display: table-row;
    }
}